<script ka:scope="global">
  session.todos = session.todos || [];
  var todos = session.todos;
  var action = request.param('action');
  if (request.post) {
    var id = ~~request.param('id');
    switch (action) {
      case 'add':
        var title = request.param('title');
        todos.push({id: todos.length + 1, title: title, complete: false});
        break;
      case 'remove':
        var index = todos.findIndex(x => x.id === id);
        todos.splice(index, 1);
        break;
      case 'toggle':
        var found = todos.find(x => x.id === id);
        found.complete = !found.complete;
        break;
      case 'removeCompleted':
        todos = todos.filter(x => !x.complete);
        session.todos = todos;
        break;
      case 'update':
        var title = request.param('title');
        if (title !== '') { // escape key
          var found = todos.find(x => x.id === id);
          found.title = title;
        }
        break;
      case 'edit':

        break;
      case 'toggleAll':
        var anyActive = !!todos.find(x => !x.complete);
        todos.forEach(x => x.complete = anyActive);
        break;
    }
    filtered = todos;
    showing = 'all';
  } else { // GET
    showing = action;
    switch (action) {
      case 'active':
        filtered = todos.filter(x => !x.complete);
        break;
      case 'completed':
        filtered = todos.filter(x => x.complete);
        break;
      default:
        filtered = todos;
        showing = 'all';
    }
  }
  var remaining = todos.filter(x => !x.complete).length;
  var selectIf = a => showing === a ? 'selected' : null;
  var isEditing = t => action === 'edit' && t.id === id ? 'editing' : (t.complete ? 'complete' : null);
</script>

<div class="container" hx-target="this" hx-swap="outerHTML">
  <div class="row p-3">
    <div class="col">
      <h1 class="text-center">todos</h1>
    </div>    
  </div>
  <div class="row">
    <div class="col-1 pt-2">
      <div class="form-check form-switch" th:if="todos.length">
        <input class="form-check-input" type="checkbox" th:checked="remaining == 0" ka:post="this" ka:vals="action:'toggleAll'">
      </div>      
    </div>    
    <div class="col">
      <input class="form-control form-control-lg" placeholder="What needs to be done?" name="title" ka:post="this" ka:vals="action:'add'" autofocus>
    </div>
  </div>
  <div class="row my-3" th:each="todo: filtered" ka:vals="id:todo.id" th:classappend="isEditing(todo)">
    <div class="col-1">
      <input type="checkbox" th:checked="todo.complete" ka:post="this" ka:vals="action:'toggle'">
    </div>
    <div class="col">
      <div th:text="todo.title"></div>      
      <input th:if="false" type="text" name="title" th:value="todo.title" th:id="'todo' + todo.id"
             hx-trigger="blur,keyup-enter,keyup-escape" ka:post="this" ka:vals="action:'update'">      
    </div>
    <div class="col-1">
      <button ka:post="this" ka:vals="action:'remove'" class="btn btn-secondary btn-sm">
        <i class="bi bi-x ka-indicator-hide"></i>
      </button>
    </div>
  </div>
  <div class="row" th:if="todos.length">
    <div class="col">
      <span th:text="remaining"></span> <span th:text="remaining == 1 ? 'item' : 'items'"></span> left
    </div>
    <div class="col">
      <a href="#" th:classappend="selectIf('all')" ka:get="this" ka:vals="action:'all'">All</a>
      <a href="#" th:classappend="selectIf('active')" ka:get="this" ka:vals="action:'active'">Active</a>
      <a href="#" th:classappend="selectIf('completed')" ka:get="this" ka:vals="action:'completed'">Completed</a>
      <button th:if="todos.length > remaining" ka:post="this" ka:vals="action:'removeCompleted'" class="btn btn-secondary btn-sm">Clear completed</button>      
    </div>
  </div>
</div>
