.navbar-brand {
  background-color: black;
}

textarea.form-control {
  font-family: monospace;
  font-size: medium;
}

.ka-indicator {
  display: none;
}

.htmx-request .ka-indicator {
  display: inline-block;
}

.htmx-request .ka-indicator-hide {
  display: none;
}
